<h1>Página de ayuda</h1>

<p>Bienvenido a la página de ayuda del <em>Juego de las Preguntas</em>:</p>
<p>En este curioso juego deberás <strong>contestar correctamente</strong> a las preguntas que se formulan.</p>
<p>Son cuestiones de cultura general a las que cualquier persona debería poder responder. En caso de no poder hacerlo
se mostrarán una serie de pistas que ayudarán al jugador.</p>
<p>Las preguntas se mostrarán aleatoriamente y cuando se haya finalizado la lista terminará el juego mostrando la puntuación.</p>